.card {
	position: relative;
	background: none !important;
	cursor: pointer;
}

.card::before {
	display: block;
	content: "";
	position: absolute;
	width: 101%;
	height: 68px;
	background-image: url("../assets/card-wave.svg");
	background-repeat: no-repeat;
	bottom: 0;
	left: -1px;
	z-index: -1;
}

.card .title {
	font-family: "Nunito Sans", sans-serif;
	font-size: 18px;
}

.card::after {
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	top: 0;
	left: 0;
	z-index: -2;
	background-color: rgb(255, 255, 255);
}

.card__img {
  max-height: 400px !important;
  max-width: 100%;
  display: block;
}

.card__arrow {
	width: 18px !important;
	height: 18px !important;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
	height: 100%;
}

.modal__panel {
	flex-grow: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: 1rem;
	background-color: #1e1e1e;
	padding: 1rem 1rem 2rem 1rem;
	border-top: 1px solid #383838;
}

.modal__title {
	font-size: 24px;
	font-weight: 700;
	margin-top: 1rem;
}

.modal__description {
	font-size: 18px;
	margin: 1rem;
}

.card__selector {
  display: flex;
  align-items: center;
  background-color: #242525;
  border-radius: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
	width: 100%;
}

.card__size {
	margin-left: 6px;
	margin-right: 6px;
}

@media screen and (max-width: 372px) {
	/* .card__img {
		max-height: calc(100% - 240px) !important;
	} */

	.card__selector {
		flex-direction: column;
		background-color: transparent;
		gap: 1rem;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.card__button {
		width: 100%;
	}

	.card__size {
		width: 100%;
	}
}

.card__background {
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	background-color: #fff;
}

.card__wave {
	width: 100%;
	height: 40px;
}

.card__wave svg {
	width: 100%;
	height: 100%;
}

.modal__categories-list {
	margin-top: 2rem;
	display: flex;
	overflow-x: auto;
	max-width: 100%;
	padding: 0 1rem;
}

.modal__categories-list__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 10px;
	padding: 0 1.5rem;
}

.modal__categories-list__item .title {
	font-size: 16px;
}

.modal__categories-list__item .img {
	height: 80px;
	max-width: 90px;
}

.modal__additives {
	width: 100%;
}

.modal__grid {
	max-width: 100%;
	overflow-x: auto;
	padding: 0 1rem;
	margin-top: 1rem;
	scroll-snap-type: x mandatory;
	padding-bottom: 1rem;
}

.modal__grid::-webkit-scrollbar {
	display: none;
}

.modal__grid, .modal__categories-list { 
	padding-bottom: 1rem;
}

.modal__grid-item {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 10px;
	background-color: #242525;
	border: 3px solid #242525;
	border-radius: 10px;
	transition: .2s;
}

.modal__grid-item.active {
	border: 3px solid #2c5c4f;
}

.modal__grid-item > .img {
	max-height: 90px;
	max-width: 100%;
}

.modal__grid-item > .title {
	text-align: center;
	font-size: 16px;
}

.modal__grid-item > .price {
	font-weight: 600;
	font-size: 16px;
}

.counter {
	display: flex;
	align-items: center;
	gap: 0px;
}

.counter__value {
	width: 40px;
	display: flex;
	justify-content: center;
}

.counter__button {
	background-color: #242525;
	border: 1px solid #383838;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
