.card {
	position: relative;
	background: none !important;
	cursor: pointer;
}

.card::before {
	display: block;
	content: "";
	position: absolute;
	width: 101%;
	height: 68px;
	background-image: url("../assets/card-wave.svg");
	background-repeat: no-repeat;
	bottom: 0;
	left: -1px;
	z-index: -1;
}

.card::after {
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	top: 0;
	left: 0;
	z-index: -2;
	background-color: rgb(255, 255, 255);
}

.card__img {
  max-height: calc(100% - 200px) !important;
  max-width: 100%;
  display: block;
}

.card__arrow {
	width: 18px !important;
	height: 18px !important;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
	height: 100%;
}

.modal__panel {
	flex-grow: 1;
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: 2rem;
}

.card__selector {
  display: flex;
  align-items: center;
  background-color: #444;
  border-radius: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 16px;
	width: 100%;
}

@media screen and (max-width: 372px) {
	.card__img {
		max-height: calc(100% - 240px) !important;
	}

	.card__selector {
		flex-direction: column;
		background-color: transparent;
		gap: 10px;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.card__button {
		width: 100%;
	}
}
