.tabs-container {
  position: sticky;
  top: 66px;
  left: 0;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 3;
  background-color: #fff;
  backdrop-filter: blur(30px);
	box-shadow: 0 0 2px 0 #b7b7b7;
}

.tabs-container::-webkit-scrollbar {
  display: none;
}

.tabs {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  white-space: nowrap;
}

.tabs__item {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #8d8d8d;;
  padding-right: 20px;
  padding-left: 0;
  background: none;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  height: 40px;
}

.tabs__item.active {
  color: #000;
}

.tabs__item:last-child {
  padding-right: 0;
}