.tabpanel {
	flex-grow: 1;
}

.cart__button {
	z-index: 2;
	cursor: pointer;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	width: 60px;
	height: 60px;
	padding: 10px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 0 2px 0 #7c7c7c
}

.cart__button-quality {
	position: absolute;
  top: 0;
  right: 0;
  background-color: #2c5c4f;
  color: #fff;
  padding: 5px;
  height: 18px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
	position: fixed;
	z-index: 4;
	left: 0;
	top: 100%;
	width: 100%;
	height: 100dvh;
	overflow-y: auto;
	background-color: #222;
	visibility: hidden;
	opacity: 0;
	transition: .2s all;
	display: flex;
	flex-direction: column;
}

.cart.show {
	top: 0;
	visibility: visible;
	opacity: 1;
	z-index: 4;
}

.cart__header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	position: sticky;
	left: 0;
	top: 0;
	background-color: #1e1e1e;
}

.cart:has(.order__profile) .cart__header {
	background-color: #222;
	padding: 1rem 1rem .5rem 1rem;
}

.cart__header-button {
	width: 40px;
	height: 40px;
	padding: 0;
}

.cart__header-button > img {
	width: 100%;
	height: 100%;
}

.cart__list {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0 1rem;
}

.cart__list-item {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0 1rem;
	background-color: #fff;
	color: #000;
	border-radius: 7px;
}

.cart__list-item > .row {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}

.cart__list-item .info {
	flex-grow: 1;
}

.cart__list-item .col {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.cart__list-item__img {
	max-height: 100px;
	max-width: 100px;
}

.cart__list-item__title {
	font-weight: 600;
	margin-bottom: 10px;
	color: #2c5c4f;
}

.cart__list-item__description {
	font-weight: 400;
	font-size: 16px;
	color: #000;
}

.cart__list-item__price {
	font-size: 20px;
	font-weight: 500;
	color: #000;
}

.cart__list-item__delete {
	height: 26px;
	margin-bottom: 10px;
}

.cart__list-item__delete img {
	height: 18px;
}

.cart__panel-wrapper {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.cart__panel {
	display: flex;
	flex-direction: column;
	border-top: 1px solid #383838;
	background-color: #1e1e1e;
	padding: 1rem 1rem 2rem 1rem;
}

.cart__panel-label {
	margin-bottom: 10px;
}

.cart__panel-textarea {
	color: #fff;
	font-size: 16px;
	border: 1px solid #b7b7b7;
	height: 80px;
	padding: 10px;
	margin-bottom: 1.5rem;
	border-radius: 10px;
}

.cart__panel-textarea::placeholder {
	color: #b7b7b7;
}

.cart__panel-button {
	width: 100%;
	background-color: #2c5c4f;
	padding: 15px 0;
	font-size: 20px;
	border-radius: 999px;
	display: flex;
	justify-content: center;
	font-weight: 400;
}

.cart__panel-button span {
	font-weight: 300;
}

.history__list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 1.5rem;
}

.history__list-title {
	font-weight: 600;
	margin-bottom: .5rem;
	font-size: 24px;
}

.history__list-item--empty {
	padding: 10px;
	background-color: #2a2a2a;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 10px;
}

.history__list-item--empty .history {
	height: 300px;
}

.history__list-item--empty > .title {
	font-weight: 400;
	color: #b7b7b7;
}

.order__main {
	padding: 0 1rem;
}

.order__profile {
	padding: 10px;
	background-color: white;
	color: #222;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 5rem;
	padding: 1rem;
	border-radius: 10px;
}

.order__user-name {
	width: fit-content;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 21px;
	margin-bottom: calc(5px + 2rem);
}

.order__profile-icon {
	width: 35px;
	height: 35px;
}

.order__profile-icon svg {
	width: 100%;
	height: 100%;
	display: block;
}

.order__profile-name {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}

.order__profile-arrow {
	width: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.order__profile-arrow svg {
	width: 100%;
	display: block;
}

.order {
	padding: 10px 1rem;
	border-radius: 10px;
	background-color: #fff;
	color: #222;
}

.order__header-wrapper {
display: flex;
flex-direction: column;
gap: 5px;
margin-bottom: 1rem;
}

.order__header-row {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.order__header-row .quality {
	font-weight: 500;
	font-size: 16px;
}

.order__header-row .status {
	font-size: 22px;
	color: #2c5c4f;
}

.order__header-row  .number {
	font-size: 22px;
	color: #2c5c4f;
	font-weight: 700;
}

.order__header-row .date {
	font-size: 16px;
	font-weight: 500;
}

.order__header-row .date span {
	font-weight: 700;
}

.order__price {
	margin-top: 1rem;
	font-size: 18px;
}

.order__price span {
	font-weight: 700;
}

.order__list-item {
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid #b7b7b7;
}

.order__list-item__info {
	display: flex;
	align-items: center;
	gap: 10px;
}

.order__list-item__info-img {
	width: 60px;
	height: 60px;
	display: block;
	border-radius: 6px;
}

.order__list-item__info-title {
	font-size: 18px;
	margin-bottom: 5px;
}

.order__list-item__info-volume {
	font-weight: 300;
	font-size: 14px;
}

.order__list-item__row {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.order__list-item__additives {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.order__list-item__additive {
	position: relative;
	padding-left: 20px;
}

.order__list-item__additive::before {
	content: '+';
	position: absolute;
	left: 0;
	top: 0;
	font-weight: 600;
	font-size: 20px;
	line-height: 1;
	color: #2c5c4f;
}

.order__list-item__price {
	font-size: 18px;
	font-weight: 600;
}