@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html:has(.auth__wrapper),
body:has(.auth__wrapper),
#root:has(.auth__wrapper) {
	height: 100%;
}

body {
	padding-top: 20px;
  margin: 0;
  place-items: center;
	background-color: #242424;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

body:has(.tabs) {
	padding-top: 0;
}

html, body, #root {
	min-height: 100vh;
}

#root{
  width: 100%;
	display: flex;
	flex-direction: column;
}

ul {
	list-style-type: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h6 {
	line-height: 1.2 !important;
}

input {
	outline: none !important;
}

button {
	color: #fff;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}

* {
	-webkit-tap-highlight-color: transparent;
}

:root {
  --safe-area-top: 0px;
  --safe-area-bottom: 0px;
}

/* Для iOS с поддержкой env() */
@supports (padding-top: env(safe-area-inset-top)) {
  :root {
    --safe-area-top: env(safe-area-inset-top);
    --safe-area-bottom: env(safe-area-inset-bottom);
  }
}

/* Фикс для полноэкранного режима на iOS */
.ios-expanded {
  padding-top: 60px !important;
  padding-bottom: 34px !important;
}

.modal__panel {
	padding-top: var(--safe-area-top) !important;
  padding-bottom: var(--safe-area-bottom) !important;
}