@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html:has(.auth__wrapper),
body:has(.auth__wrapper),
#root:has(.auth__wrapper) {
	height: 100%;
}

body {
	padding-top: 20px;
  margin: 0;
  place-items: center;
	background-color: #1b1d1c;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #fff;
}

button, input, input::placeholder, p {
	font-family: "Open Sans", sans-serif !important;
}

body:has(.tabs) {
	padding-top: 0;
}

body:has(.auth__wrapper) {
	background-color: #1e1e1e;
}

html, body, #root {
	min-height: 100dvh;
}

#root{
  width: 100%;
	display: flex;
	flex-direction: column;
}

ul {
	list-style-type: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h6 {
	line-height: 1.2 !important;
}

input {
	outline: none !important;
}

button {
	color: #fff;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}

* {
	-webkit-tap-highlight-color: transparent;
}