html:has(.auth__wrapper),
body:has(.auth__wrapper),
#root:has(.auth__wrapper) {
	height: 100%;
}

html {
	background-color: #383838 !important;
}

body {
	padding-top: 20px;
  margin: 0;
  place-items: center;
  min-width: 320px;
	background-color: #242424;
	box-sizing: border-box;
}

body:has(.tabs) {
	padding-top: 0;
}

#root{
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
	outline: none !important;
}

button {
	color: #fff;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}

* {
	-webkit-tap-highlight-color: transparent;
}